<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h3>What is this about?</h3>
        <p>
          Inspired by <a href="https://www.reddit.com/r/linux/comments/971m0z/im_tired_of_folders_littering_my_home_directory/">this thread on Reddit</a>, this is a list of applications and whether or not they follow <a href="https://specifications.freedesktop.org/basedir-spec/0.6/ar01s03.html">FreeDesktop.org environment spec</a>.
        </p>
        <p>Most newer programs and major projects use this spec -- so most of the programs that need changing are older or have few developers (or in many cases only one).</p>
      </div>

      <div class="col-6">
        <h3>Guide</h3>
        <dl class="row">
          <dt class="col-sm-3"><span class="badge badge-secondary">Unreported</span></dt>
          <dd class="col-sm-9">
            It has not yet been reported to the package maintainer.
          </dd>

          <dt class="col-sm-3"><span class="badge badge-info">Reported</span></dt>
          <dd class="col-sm-9">
            A github issue, ticket or similar has been created. There is no need to create another one.
          </dd>

          <dt class="col-sm-3"><span class="badge badge-success">Follows Spec</span></dt>
          <dd class="col-sm-9">
            Follows the specification. Link will often be to the commit where it was implemented, or just the homepage of the application.
          </dd>

          <dt class="col-sm-3"><span class="badge badge-danger">WONTFIX</span></dt>
          <dd class="col-sm-9">
            For some reason the application doesn't, and won't, follow the spec. A link to the discussion is usually included.
          </dd>
        </dl>
      </div>
    </div>
  </div>
</section>
